*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: Fengardo_Neue;
    src: url(fonts/FengardoNeue_Black.otf);
}
@font-face{
	font-family: ProximaNovaBlack;
	src: url(fonts/ProximaNovaBlack.otf);
}
@font-face{
	font-family: ProximaNovaRegular;
	src: url(fonts/ProximaNovaRegular.otf);
}
@font-face{
	font-family: RobotoBold;
	src: url(fonts/RobotoBold.ttf);
}
@font-face{
	font-family: RobotoMedium;
	src: url(fonts/RobotoMedium.ttf);
}
@font-face{
	font-family: RobotoLight;
	src: url(fonts/RobotoLight.ttf);
}

.cabecalho{
	width: 100%;
	height: 958px;
}
.cabecalho-gradiente{
	width: 100%;
	height: 20px;
	position: fixed;
	z-index: 1;
	background: linear-gradient(to right, #85CFE8, #3DB5B0, #F6A800, #EC7404, #E30059);
}
.cabecalho-menu{
	width: 100%;
	height: 80px;
	position: fixed;
	background: #fff;
	z-index: 9;	
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cabecalhoMenu-logo{
	width: 150px;
	height: 250px;
	margin-right: 60px; 
}
.cabecalhoMenu-item{
	margin: 20px;
	font-family: Fengardo_Neue;
	font-size: 20px;
	color: #e30059;
	text-align: left;
	text-decoration: none;
}
.cabecalhoMenu-item:focus{
	text-decoration: underline;
}
a:hover{
	text-decoration: underline;
}
.cabecalho-hero{
	width: 100%;
	height: 480px;
	background: url("assets/fundo header.jpg") top;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cabecalhoHero-gradiente{
	width: 100%;
	height: 480px;
	background: linear-gradient(to bottom, rgba(133,207,232,0.3), #3DB5B0);
	position: relative;
}
.cabecalhoHero-titulo{
	width: 579px;
	height: 149px;
	font-family: ProximaNovaBlack;
	font-size: 42px;
	color: #fff;
	position: absolute;

}
.cabecalho-destaques{
	width: 100%;
	height: 480px;
	padding: 0 25px;
	background: #3DB5B0 ;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;

}
.cabecalhoDestaques-titulo{
	width: 100%;
	height: 41px;
	font-family: Fengardo_Neue;
	font-size: 36px;
	color: #fff;
	text-align: center;
}
.cabecalhoDestaques-caixa{
	width: 21%;
	height: 380px;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	box-shadow: 4px 4px 20px #333;
}
.cabecalhoDestaquesCaixa-img{
	width: 90%;
	margin-top: 5%;
	border-radius: 10px;
}
.cabecalhoDestaquesCaixa-link{
	width: 90%;
	height: 114px;
	margin-top: 27px;
	font-family: ProximaNovaRegular;
	font-size: 24px;
	color: #3DB5B0;
	text-decoration: none;
}
.conteudo{
	width: 100%;
	min-height: 500px;
}
.conteudo-sobre{
	width: 100%;
	height: 535px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.conteudoSobre-caixaLogo{
	width: 42%;
	height: 535px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.conteudoSobre-logo{
	width: 70%;
}
.conteudoSobre-caixaTexto{
	width: 53%;
	height: 535px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
}
.conteudoSobre-titulo{
	width: 100%;
	margin-bottom: 2%;
	font-family: RobotoBold;
	font-size: 27px;
	color: #3DB5B0;
}
.conteudoSobre-texto{
	width: 70%;
	font-family: RobotoMedium;
	font-size: 16px;
	color: #535353;
}
.boleado{
	width: 100%;
	height: 7vh;
	margin-top: -23px;
	border-radius: 50%;
}
.boleado-sobre{
	background: #fff;	
}
.conteudo-acoes{
	width: 100%;
	height: 535px;
/*	padding: 0 1%;
*/	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}
.acoesVnw{
	background: #F6A800;
}
.conteudoAcoes-titulo{
	width: 100%;
	height: 45px;
	margin-top: -20px;
	font-family: Fengardo_Neue;
	font-size: 36px;
	color: #3DB5B0;
	text-align: center;
}
.conteudoAcoes-bloco{
	width: 30%;
	height: 500px;
	padding: 1%;
	margin: 0 2%;
	display: flex;
	flex-flow: column wrap;
	justify-content:space-around;
	align-items: center;
}
.conteudoAcoes-logo{
	width: 210px;
}
.conteudoAcoes-texto{
	width: 90%;
	font-family: RobotoMedium;
	font-size: 16px;
	color: #fff;
}
.conteudoAcoesTexto-link{
	color: #ed1164;
	text-decoration: none;
} 
.boleado-projetos{
	margin-top: -12px;
	background-color: #F6A800;
}
.boleado-vnw{
	margin-top:12px;
	background-color: #EC7404;
}
.conteudoAcoes-caixa{
	width: 56.4885496%;
	height: 325px;
	margin-right: 3%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background: #fff;
	border-radius: 10px;
}
.conteudoAcoesCaixa-img{
	width: 62.4078624%;
}
.conteudoAcoesCaixa-box{
	width: 29.6068796%;
	height: 301px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
}
.conteudoAcoesCaixaBox-img{
	width: 100%;
}
.acoesEstudio{
	background-color: #EC7404;
}
.acoesStartupin{
	background-color: #E30059;
}
.boleado-startupin{
	margin-top: 13px;
	background-color: #E30059;
}
.conteudo-parceiros{
	width: 100%;
	height: 700px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.conteudoParceiros-titulo{
	width: 100%;
	height: 45px;
	margin-top:10px;
	font-family: Fengardo_Neue;
	font-size: 36px;
	color: #3DB5B0;
	text-align: center;
}
.conteudoParceiros-item{
	width: 27%;
	height: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
.conteudoParceirosItem-img{
	width: 30%;
}
.logoPontinho{
	width: 34%;
}
.logoRecicla{
	width: 25%;
}
.logoEsperanca{

}
.logoAlimentacao{

}
.logoSopa{

}
.logoAgir{

}
.logoMusica{

}
.logoEducap{

}
.logoOsc{

}
.conteudoParceirosItem-descricao{
	width: 60%;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.conteudoParceirosItem-titulo{
	width: 100%;
	height: 45px;
	margin-top:10px;
	font-family: RobotoBold;
	font-size: 16px;
	color: #333;
	text-align: left;
}
.conteudoParceirosItem-texto{
	width: 100%;
	height: 45px;
	margin-top:10px;
	font-family: RobotoLight;
	font-size: 14px;
	color: #333;
	text-align: left;
}



.fb-page{
	width: 329px;
	height: 207px;
}