*,
*:after,
*:before{
	margin: 0; 
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
}
a:hover{
	text-decoration: underline;
}

@font-face {
    font-family: Fengardo_Neue;
    src: url(fonts/FengardoNeue_Black.otf);
}
@font-face{
	font-family: ProximaNovaBlack;
	src: url(fonts/ProximaNovaBlack.otf);
}
@font-face{
	font-family: ProximaNovaRegular;
	src: url(fonts/ProximaNovaRegular.otf);
}
@font-face{
	font-family: RobotoBold;
	src: url(fonts/RobotoBold.ttf);
}
@font-face{
	font-family: RobotoMedium;
	src: url(fonts/RobotoMedium.ttf);
}
@font-face{
	font-family: RobotoLight;
	src: url(fonts/RobotoLight.ttf);
}

.container {
	/*width: 100vw;*/
	max-width: 1400px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 3px green;
}
/*@media (max-width: 640px){
	.container{
		flex-direction: column;
	}
}*/
.cabecalho{
	/*width: 100vw;*/
	min-height: 100vh;
}
.cabecalho-gradiente{
	width: 100vw;
	height: 20px;
	position: fixed;
	z-index: 8;
	background: linear-gradient(to right, #85CFE8, #3DB5B0, #F6A800, #EC7404, #E30059);
}
.cabecalho-menu{
	width: 100vw;
	height: 80px;
	position: fixed;
	background: #fff;
	z-index: 9;	
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cabecalhoMenu-logo{
	width: 150px;
	margin-right: 60px; 
}
/*@media (max-width: 640px){
	.cabecalhoMenu-logo{
		width: 250px;
		margin: 0;
	}
}*/
.cabecalhoMenu-item{
	margin: 20px;
	font-family: Fengardo_Neue;
	font-size: 20px;
	color: #e30059;
	text-align: left;
	text-decoration: none;
}
@media (max-width: 640px){
	.cabecalhoMenu-item{
		display: none;
	}
}
.cabecalhoMenu-item:focus{
	text-decoration: underline;
	color: #3DB5B0;
}
.cabecalho-hero{
	/*width: 100vw;*/
	min-height: 75vh;
	background: url("assets/fundo header.jpg") top;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*@media (max-width: 640px){
	.cabecalho-hero{
		min-height: 667px;
	}
}*/
.cabecalhoHero-gradiente{
	width: 100vw;
	min-height: 75vh;
	background: linear-gradient(to bottom, rgba(133,207,232,0.3), #3DB5B0);
	position: relative;
}
/*@media (max-width: 640px){
	.cabecalhoHero-gradiente{
		min-height: 667px;
	}
}*/
.cabecalhoHero-titulo{
	width: 50vw;
	height: 20vh;
	font-family: ProximaNovaBlack;
	font-size: 42px;
	color: #fff;
	position: absolute;
}
@media (max-width: 640px){
	.cabecalhoHero-titulo{
		width: 80vw;
		font-size: 26px;
	}
}
/*@media (max-width: 375px){
	.cabecalhoHero-titulo{
		font-size: 22px;
	}
}*/
.container-destaques{
	flex-direction: column;
}
.cabecalho-destaques{
	/*width: 100vw;*/
	min-height: 80vh;
	padding: 0 25px;
	background: #3DB5B0;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*@media (max-width: 640px){
	.cabecalho-destaques{
		min-height: 1820px;
		align-items: center;
	}
}*/
.cabecalhoDestaques-titulo{
	width: 90vw;
	font-family: Fengardo_Neue;
	font-size: 36px;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.cabecalhoDestaques-caixa{
	width: 21vw;
	height: 57vh;
	margin: 1%;
	background-color: #fff;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 4px 4px 20px #333;
}
@media (max-width: 640px){
	.cabecalhoDestaques-caixa{
		width: 90vw;
		min-height: 400px;
	}
}
.cabecalhoDestaquesCaixa-img{
	width: 90%;
	margin-top: 5%;
	border-radius: 10px;
}
.cabecalhoDestaquesCaixa-texto{
	width: 90%;
	/*height: 114px;*/
	margin: 3% 0;
	font-family: ProximaNovaRegular;
	font-size: 24px;
	color: #3DB5B0;
	text-decoration: none;
}
@media (max-width: 640px){
	.cabecalhoDestaquesCaixa-link{
		font-size: 24px;
	}
}
.conteudo{
	/*width: 100vw;*/
	min-height: 100vh;
}
/*@media (max-width: 640px){
	.conteudo{
		min-height: 1000px;
	}
}*/

/*Section Sobre*/

.conteudo-sobre{
	/*width: 100vw;*/
    min-height: 80vh;
    padding: 4% 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*@media (max-width: 640px){
	.conteudo-sobre{
		min-height: 85vh;
		align-items: center;
		justify-content: center;
	}
}*/
.conteudoSobre-caixaLogo{
	width: 40vw;
	margin-right: 4%;
	/*display: flex;
	justify-content: flex-end;
	align-items: center;*/
}
@media (max-width: 640px){
	.conteudoSobre-caixaLogo{
		width: 90vw;
		margin-bottom: 6%;/*
		justify-content: center;*/
	}
}
.conteudoSobre-logo{
	width: 35vw;
}
/*@media (max-width: 640px){
	.conteudoSobre-logo{
		width: 60vw;
	}
}*/
.conteudoSobre-caixaTexto{
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
@media (max-width: 640px){
	.conteudoSobre-caixaTexto{
		width: 77vw;
	}
}
/*@media (max-width: 375px){
	.conteudoSobre-caixaTexto{
		width: 80vw;
	}
}*/
.conteudoSobre-titulo{
	width: 50vw;
	margin-bottom: 2%;
	font-family: RobotoBold;
	font-size: 27px;
	color: #3DB5B0;
}
@media (max-width: 640px){
	.conteudoSobre-titulo{
		font-size: 26px;
	}
}
.conteudoSobre-texto{
	width: 40vw;
	font-family: RobotoMedium;
	font-size: 16px;
	color: #535353;
}
@media (max-width: 640px){
	.conteudoSobre-texto{
		width: 75vw;
	}
}

/*Section Ações*/

.container-acoes{
	min-height: 83vh;
}
.conteudo-acoes{
	width: 100vw;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.conteudo-acoes::before{
	content: 'Nossos Projetos';
	width: 100vw;
	min-height: 7vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	background-color: #fff;
	border-radius: 0 0 100% 100%;
	color: #3DB5B0;
	font-family: Fengardo_Neue;
	font-size: 36px;
}
@media (max-width: 640px){
	.conteudo-acoes{
		flex-direction: column;
		justify-content: center;
	}
}
@media (max-width: 375px){
	.conteudo-acoes{
		/*min-height: 1300px;*/
		flex-direction: column;
	}
}
.acoesVnw{
	background: #F6A800;
}
.acoesEstudio::before{
	content: '';
	background-color: #F6A800;
}
@media (max-width: 640px){
	.conteudoAcoes-titulo{
		height: 50px;
		font-size: 28px;
	}
}
.conteudoAcoes-bloco{
	width: 30vw;
	padding: 1%;
	margin: 0 2%;
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	align-items: center;
}
@media (max-width: 640px){
	.conteudoAcoes-bloco{
		width:100vw;
	}
}
.conteudoAcoes-logo{
	width: 25vw;
	margin-bottom: 5%;
}
@media (max-width: 640px){
	.conteudoAcoes-logo{
		width: 50vw;
	}
}
.conteudoAcoes-texto{
	width: 30vw;
	font-family: RobotoMedium;
	font-size: 16px;
	color: #fff;
}
.conteudoAcoesTexto-link{
	color: #85CFE8;
	text-decoration: none;
}
.conteudoAcoes-caixa{
	width: 55vw;
	max-width: 820px;
	height: 50vh;
	max-height: 400px;
	padding: 0.5rem;
	margin-right: 3%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background: #fff;
	border-radius: 10px;
}
@media (max-width: 640px){
	.conteudoAcoes-caixa{
		display: none;
	}
}
#conteudoAcoesCaixa-img{
	width: 63%;
}
.conteudoAcoesCaixa-img{
	width: 63%;
}
.conteudoAcoesCaixa-box{
	width: 30%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
}
.conteudoAcoesCaixaBox-img{
	width: 100%;
}
.caixaBox-imagem2{
	margin-top: 8%;
}
.acoesEstudio{
	background-color: #EC7404;
}
.acoesStartupin::before{
	content: '';
	background-color: #EC7404;
}
.acoesStartupin::after{
	content: '';
	background-color: #e30059;
}
.acoesStartupin{
	background-color: #E30059;
}
.conteudoAcoes-caixaMobile{
	display: none;
}
@media (max-width: 640px){
	.conteudoAcoes-caixaMobile{
		min-height: 700px;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-around;
		align-items: center;
	}
}
@media (max-width: 640px){
	.conteudoAcoesCaixa-imgMobile{
		width: 90%;
		margin-top: 3%;
		z-index: 0;
	}
}
/*.boleado-startupin{
	margin-top: 13px;
	background-color: #E30059;
}*/
/*@media (max-width: 640px){
	.boleado-startupin{
		margin-bottom: -13%;
	}
}
@media (max-width: 375px){
	.boleado-startupin{
		margin-bottom: -21%;
	}
}*/
.conteudo-parceiros{
	width: 100%;
	/*height: 700px;*/
	height: 80vh;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
@media (max-width: 640px){
	.conteudo-parceiros{
		/*min-height: 1600px;*/
		min-height: 85vh;
		padding: 3% 0;
		flex-flow: column nowrap;
		justify-content: center;
	}
}
@media (max-width: 375px){
	.conteudo-parceiros{
		min-height: 1500px;
		padding-top: 3%;
		flex-flow: column nowrap;
	}
}
.conteudoParceiros-titulo{
	width: 100%;
	height: 45px;
	/*margin-top:10px;*/
	margin-top: 2rem;
	font-family: Fengardo_Neue;
	font-size: 36px;
	color: #3DB5B0;
	text-align: center;
}
@media (max-width: 640px){
	.conteudoParceiros-titulo{
		font-size: 28px;
		margin-top: 30px;
	}
}
.conteudoParceiros-item{
	width: 27%;
	height: 109px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
@media (max-width: 640px){
	.conteudoParceiros-item{
		width: 87%;
		margin: 4% 0;
	}
}
.conteudoParceirosItem-img{
	width: 29%;
}
.logoPontinho{
	width: 31%;
}
.logoRecicla{
	width: 22%;
}
.logoEsperanca{
	width: 31%;
}
.logoAlimentacao{
	width: 22%;
}
.logoSopa{
	width: 22%;
}
.logoAgir{

}
.logoMusica{
	width: 22%;
}
.logoEducap{
	width: 31%;
}
.logoOsc{

}
.conteudoParceirosItem-descricao{
	width: 69%;
	height: 109px;
	padding-left: 2%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.conteudoParceirosItem-titulo{
	width: 100%;
	margin-top: 5px;
	font-family: RobotoBold;
	font-size: 16px;
	color: #333;
	text-align: left;
}
.conteudoParceirosItem-texto{
	width: 100%;
	height: 45px;
	margin-top: 10px;
	font-family: RobotoLight;
	font-size: 14px;
	color: #333;
	text-align: left;
}
.rodape{
	width: 100%;
	/*height: 757px;*/
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url("assets/fundo footer.svg");
	background-size: cover;
}
.rodape-caixa{
	width: 784px;
	height: 240px;
	background-color: #fff;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}
@media (max-width: 640px){
	.rodape-caixa{
		width: 55%;
		min-height: 440px;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}
}
@media (max-width: 375px){
	.rodape-caixa{
		width: 95%;
		min-height: 450px;
	}
}
.rodapeCaixa-descricao{
	width: 419px;
	height: 240px;
	padding: 4%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
@media (max-width: 640px){
	.rodapeCaixa-descricao{
		width: 90%;
		height: 210px;
	}
}
.rodapeCaixaDescricao-titulo{
	width: 100%;
	height: 46px;
	font-family: RobotoMedium;
	font-size: 24px;
}
.rodapeCaixaDescricao-texto{
	width: 100%;
	height: 127px;
	font-family: RobotoLight;
	font-size: 16px;
}
.fb-page{
	width: 329px;
	height: 207px;	
}
.rodapeGradiente{
	width: 100%;
	height: 20px;
	text-align: center;
	color: #fff;
	font-family: RobotoMedium;
	background: linear-gradient(to right, #85CFE8, #3DB5B0, #F6A800, #EC7404, #E30059);
}
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
#myImg:hover {
	opacity: 0.7;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
.modal-content{ 
    animation-name: zoom;
    animation-duration: 0.6s;
}
.close {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}